kind: ConfigMap
metadata:
  name: prom-config
apiVersion: v1
data:
  prometheus.yml: |-
    global:
      scrape_interval: 1m

    scrape_configs:
      - job_name: "prometheus"
        scrape_interval: 1m
        static_configs:
        - targets: ["localhost:9090"]

    #remote_write:
    #  - url: "<Your Prometheus remote_write endpoint>"
    #    basic_auth:
    #      username: "<Your Grafana Username>"
    #      password: "<Your Grafana API key>"
